.row{
    background-color: burlywood;
}

.userprofile{
    height: 600px;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: cadetblue !important;
}
.userprofile .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 8%;
    height: 100%;
}
.userprofile .sidebar .fork{
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.userprofile .sidebar .clip{
    width: 35px;
    height: 35px;
    margin-bottom: 50px;
}
.row .profilecard{
    background-color: chartreuse !important;
}
.contact{
    background-color: crimson !important;
}
.input{
    background-color: cyan;
}
.details{
    background-color: darkgoldenrod;
}
.detailbox{
    display: flex;
    padding: 0;
    background-color: blue;
}
.details .detailbox .box1{
    background-color: cornsilk;
    padding: 0;
}
.details .detailbox .box2{
    background-color: hotpink;
}
.buttonbox{
    background-color: darkmagenta;
    display: flex;
    flex-direction: column;
}

